# Node modules
node_modules/
package-lock.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment files
.env 
.env.secret
config.xml
api-nginx-config-personal
/database/migrations/private

# Personal files
/webroot/index.html
/webroot/script.js
/webroot/discord/theme/vencord.css

# Removed Files
/guides/.ignore.md

# Broken/Incomplete Files
/installers/
install.sh